/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: White;
    font-family: 'Nunito', sans-serif; 
    height: 90vh;
    font-size: 10px;
    background-color: white;
    background-image: url("../img/bg21.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }



header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .menu {
    background-color: #1a2948;
    position: fixed;
    width: 100vw;
    top: 0;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
  }

  a {
    color: white;
    text-decoration: none;
  }
  
  .menu a:active,
  .menu a:hover {
    text-decoration: underline;
  }
  .site-title {
    font-size: 3em;
    text-align: center;
    color: white;
    box-shadow: 10px 0 0 0 #1a2948, -10px 0 0 0 #1a2948;
    background: #1a2948;
    display: inline;
    padding: 3px 0;
  }
 
  .site-subtitle {
    text-align: center;
    color: #1a2948;
    font-style: italic;
    font-size: 2em;
    line-height: 1.8em;
  }
  .site-subtitle {
    text-align: center;
    color: #1a2948;
    font-style: italic;
    font-size: 2em;
    line-height: 1.8em;
  }
  .site-politica {
    text-align: center;
    color: white;
    font-size: 2em;
    line-height: 1.8em;
    box-shadow: 10px 0 0 0 #f9730e, -10px 0 0 0 #f9730e;
    background: #f9730e;
    display: block;
    padding: 3px 0;
  }

  .jornalista,
  .sobre {
    background-color:#ffcac2;
    text-align: center;
    background-image: url("../img/2bg21.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding:2em;
        
  }

  .sobre h2 {
    margin-bottom: 0.5em;
    color: #1a2948;
    font-size: 3em;
  }
  .sobre h3 {
    font-size: 1.5em;
  }
  .sobre h5 {
    font-size: 1.5em;
    margin-bottom: 4em;
  }
  .sobre p {
    margin-bottom: 1.5em;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    color: #1a2948;
    line-height: 1.25em;
    font-size: 0.75em;
  }
  .sobre h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 1em;
    color: white;
    background-image: url("../img/fdblue.png");
    display: flex;
  }

  .sobre .imgquem {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .imgquem {
    height: auto;
    width: 188px;
    border-radius: 15px;
  }

  .sobre .imgsobre {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  .imgsobre {
      height: 250px;
      border-radius: 15px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
  }
  .campjorn {
    display: grid;
    gap: 1em;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    grid-template-columns: 300px;
  }
  .jorn {
      height: 250px;
      object-fit: cover;
      border-radius: 15px;
      float: right;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .agt1 {
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.agt2 {
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  }
  .agt3 {
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    }
  .novo {
    width: 350px;
    height: 200px;
    object-fit: contain;
  }

  .jornalista {
    padding: 2em;
    text-align: center;
  }

  .jornalista h2 {
    margin-bottom: 0.5em;
    font-size: 3em;
    color: #1a2948;
  }
  
  .jornalista h5 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 2em;
    color: #1a2948;
  }

  .jornalista h3 {
    margin-bottom: 1em;
    color: #1a2948;
    font-size: 1.5em;
  }
  .jornalista h4,
  .jornalista h6 {
    color: #1a2948;
    font-size: 1.05em;
    margin-bottom: 0.25em;
  }
  .jornimg {
    width: 200px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .jornimgs {
    width: 250px;
    border-radius: 15px;
    border-top: 10px;
    border-bottom: 10px;
  }
  .politica h5 {
    margin-bottom: 1.5em;
    color: #1a2948;
    font-size: 1.5em;
  }
  .politica p {
    color: #1a2948;
    font-size: 1.25em;
    font-weight: bold;
  }
  .politica a {
    transition: 500ms;
    font-size: 5em;
  }
  .politica a:active,
  .politica a:hover {
    scale: 1.25;
  }
  .youtube {
    display: grid;
    gap: 1em;
    justify-content: center;
    grid-template-columns: 300px;
  }
  .youtube img {
    border-radius: 10px;
    width: 280px;
    height: auto;
  }
  .jornal {
    display: grid;
    gap: 1em;
    justify-content: center;
  }

  .politica {
    text-align: center;
    padding: 2em;
    background: #f9730e;
    background-image: url("../img/bg_compromissos2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding: 2em;
    text-align: center;
  }
  .politica h1{
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.25em;
  }
  figcaption {
    color: white;
  }
  .politica h2 {
    margin-bottom: 0.5em;
    color: #1a2948;
    font-size: 3em;
  }
  .imgpolitz {
    width: 200px;
    border-radius: 15px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .politica h3 {
      font-size: 1.15em;
      color: white;
      background-image: url("../img/fdblue.png");
      display: block;
      font-style: italic;
      margin-top: 20px;
   }
    .politica h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: #1a2948;
    font-size: 2.5em;
  }
  .politica h6 {
    font-size: 1.15em;
    color: #1a2948;
    
  }
  .imgpolitz p {
    margin-bottom: 1em;
  }
  .comprom {
    display: grid;
    gap: 1em;
    justify-content: center;
    grid-gap: 25px;
    grid-template-columns: 300px;
  }

  .fotpol {
    display: grid;
    gap: 1em;
    justify-content: center;
    grid-template-columns: 300px;
  }
  .polfam {
    height: 250px;
    border-radius: 15px;
    
  }

  .compr,
  .princ {
    width: 220px;
    transition: transform 500ms;
    border-radius: 10px;
    padding: 2px;
  }

  .princp {
    display: grid;
    gap: 1em;
    justify-content: center;
    grid-template-columns: 300px ;
    margin-bottom: 20px;
  }


  .empresaria {
    text-align: center;
    padding: 2em;
    background-color: white;
    background-image: url("../img/bg21.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
  .empresaria h2 {
    margin-bottom: 0.5em;
    font-size: 3em;
    color: #1a2948;
  }
  
  .empresaria h3 {
    margin-bottom: 1em;
    color: #1a2948;
    font-size: 1em;
  }
  .empresaria h4 {
    margin-bottom: 1em;
    color: #1a2948;
    font-size: 1em;
  }

  .contatos {
    text-align: center;
    padding: 2em;
    background-image: url("../img/2bg21.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  .contatos h2 {
    font-size: 3em;
    color: #1a2948
  }

  .contatos h3 {
    margin-bottom: 1em;
  }

  .contato {
    display: flex;
    justify-content: space-around;
    align-content: space-evenly;
  }

  .contatos a {
    color: #1a2948;
    font-size: 3.5em;
    transition: 1s;
  }

  .contatos a:active,
  .contatos a:hover {
    text-shadow: 3px 3px 10px #1a2948;
  }

  /* se a tela tiver pelo menos 600px*/
@media (min-width: 600px) {
  body {
    font-size: 14px;
  }
  .campjorn {
    grid-template-columns: 300px 300px;
  }

  .youtube {
    grid-template-columns: 300px 300px;
  }

  .comprom {
    grid-template-columns: 300px 300px;
  }

  .princp {
    grid-template-columns: 300px 300px;

  }

  .fotpol {
    grid-template-columns: 300px 300px;
  }

}

/* se a tela tiver pelo menos 1000px*/
@media (min-width: 1000px) {
  body {
    font-size: 16px;
  }
  .campjorn {
    grid-template-columns: 300px 300px;
  }

  .youtube {
    grid-template-columns: 300px 300px 300px;
  }

  .comprom {
    grid-template-columns: 300px 300px 300px;
  }

  .princp {
    grid-template-columns: 300px 300px 300px;

  }

  .fotpol {
    grid-template-columns: 240px 240px 240px 240px;
  }

}